@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Roboto');
.navbar{
    height:120px;
    width:100%;
    display:flex;
    position: absolute;
    top:0;
    left:0;
    z-index:2;
}
.navbar-logo{
    flex:1;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}
.navbar-logo h1{
    color:white;
    font-weight: bold;
    font-family: 'Ubuntu'
}
.navbar-logo img{
    height:70px;
    margin-bottom:30px;
    filter:invert(100%);
}
.navbar-placeholder{
    flex:1;
}
.navbar-menu{
    flex:3;
    display:flex;
    justify-content: flex-end;
    align-items: center;
}
.navbar-menu ul li{
    list-style-type:none;
    display:inline;
    padding:0px 25px;
    font-size:20px;
    color:white;
    font-weight: bold;
    transition:opacity .6s;
}
.navbar-menu ul li:not(:nth-child(3n)):hover{
    opacity:0.7;
    cursor:pointer;
}
.navbar-menu ul{
    margin:0;
}
.navbar-buttons{
    display:inline;
}
.navbar-buttons a{
    margin:0 10px;
}
.navbar-mobile{
    height:120px;
    width:100%;
    display:flex;
    position: absolute;
    top:0;
    left:0;
    z-index:2;
    display:none;
}
.navbar-mobile-logo{
    height: 100%;
    width:50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:0;
    left:0;
}
.navbar-mobile-placeholder{
    height: 100%;
    width:30%;
    display: inline-flex;
    position: absolute;
    top:0;
    left:20%;
}
.navbar-mobile-button{
    height: 100%;
    width:20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:0;
    left:80%;
}
.navbar-mobile-logo img{
    width:70%;
    filter:invert(100%);
}
.navbar-mobile-button i{
    color:white;
    font-size:40px;

}
.mobile-menu{
    height:100vh;
    width:60%;
    background-color:transparent;
    position: fixed;
    top:0;
    left:-70%;
    z-index:3;
    display:flex;
    flex-direction: column;
    transition:left .2s;
    box-shadow:1px 1px 10px black;
}
.mobile-menu-filter{
    width:40%;
    height:100vh;
    background-color:rgba(0,0,0,0.4);
    transition:opacity .3s;
    position:fixed;
    top:0;
    right:0px;
    display:none;
    z-index:3;
}
.mobile-menu-logo{
    flex:1;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:black;
}
.mobile-menu-logo img{
    width:80%;
    filter:invert(100%);
    filter:drop-shadow(10);
}
.mobile-menu-content{
    flex:5;
    width:100%;
    background-color:rgba(0, 0, 0, 0.95);
}
.mobile-menu-content ul{
    padding:0;
}
.mobile-menu-content ul li{
    padding-left:50px;
}
.mobile-menu-content ul li, .mobile-menu-content ul li a{
    color:white;
    list-style-type: none;
    padding-top:10px;
    padding-bottom:10px;
    font-size:30px;
    left:0;
}
.mobile-menu-content ul li:hover, .mobile-menu-content ul li a:hover{
    text-decoration: none;
    cursor:pointer;
    background-color:#444444;
}
.mobile-menu-content ul li:hover{
    opacity:0.9;
}
.navbarUser{
    height:120px;
    width:100%;
    display:flex;
    position: absolute;
    top:0;
    left:0;
    z-index:2;
    background-color: black;
}
.header{
    min-height: 700px;
    height: 80vh;
    max-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
    background-image: url('./images/banner2.jpg');
    background-blend-mode: darken;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow:1px 1px 10px #444444;
    z-index: 1;
    position: relative;
}
.header-placeholder{
    flex:1;
    height:100%;
}
.header-content{
    flex:1;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    height:100%;
}
.header-login{
    margin-top:20%;
    height: 60%;
    width: 70%;
    color:white;
}
.header-buttons a{
    margin-right:10px;
    margin-top:10px;
}
.section{
    min-height:100vh;
    width:100%;
    background-color:white;
}
.btn{
    box-shadow:1px 3px 10px black;
    border-radius:2px;
}
.btn-warning {
    color: white;
    background-color: #555555;
    border-color: #555555;
  }
  
  .btn-warning:hover {
    color: white;
    background-color: #444444;
    border-color: #444444;
  }
  
  .btn-warning:focus, .btn-warning.focus {
    box-shadow: 0 0 0 0.2rem rgba(100,100,100, 0.5);
  }
  
  .btn-warning.disabled, .btn-warning:disabled {
    color: white;
    background-color: #444444;
    border-color: #444444;
  }
  
  .btn-warning:not(:disabled):not(.disabled):active, .btn-warning:not(:disabled):not(.disabled).active,
  .show > .btn-warning.dropdown-toggle {
    color: white;
    background-color: #444444;
    border-color: #444444;
  }
  
  .btn-warning:not(:disabled):not(.disabled):active:focus, .btn-warning:not(:disabled):not(.disabled).active:focus,
  .show > .btn-warning.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(100, 100, 100, 0.5);
  }
.modal-filter{
    background-color:rgba(0,0,0,0.5);
    position:fixed;
    display:none;
    justify-content: center;
    align-items: center;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    z-index: 100;
}
.my-modal{
    box-shadow: 1px 1px 10px #444444;
    background-color:rgba(0, 122, 204, 0.918);
    width: 400px;
    height: 50%;
    border-radius: 5px;
    z-index: 101;
    position: relative;
    transition:.3s;
    top:-2000px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.my-modal i{
    position: absolute;
    top:10px;
    right:10px;
    font-size: 30px;
}
.my-modal i:hover{
    cursor:pointer;
}
.my-modal form h6{
    margin-top:40px;
    color:white;
    font-weight: bold;
    transition:.3s;
}
.my-modal form h6:hover{
    cursor:pointer;
    opacity: .7;
}
.my-modal form input{
    margin:10px 0px;
}

.card-wrapper{
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
    text-align: center;
    padding:100px 0px;
    position:relative;
    box-shadow:1px 1px 10px #999999;
}
.card-wrapper h3{
    margin-bottom:30px;
}
.card-container{
    width: 70%; 
    min-height:400px;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    grid-gap: 40px;
}
.card{
    width:350px;
    min-height:30vh;
    display:flex;
    border-radius:10px;
    border:none;
    box-shadow: 4px 1px 5px #cccccc;
    transition:.3s;
}
.card:hover{
    opacity:0.9; 
    box-shadow: none;
}
.card-top{
    flex:2; 
    background-image: url('./images/banner1.jpg');
    background-size: cover;
    border-top-left-radius:5px;
    border-top-right-radius: 5px;
    box-shadow: 0 4px 6px -2px #444444;
    z-index:4;
}
.card-bottom{
    flex:1;
    background-color: rgb(226, 226, 226);
    border-bottom-left-radius:5px;
    border-bottom-right-radius: 5px;
}

.card-bottom h4{
    padding-top: 20px;
    padding-bottom: 10px; 
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 300px;
    background-color: #F3F4F5;
    box-shadow:1px 1px 10px #AAAAAA;
    padding-top:30px;
}
.footer-wrapper{
    display:flex;
    width:100%;
}
.footer-content-left{
    flex: 1;
    text-align: end;
    min-height: 300px;
    padding-right: 40px;
    padding-top: 30px;
}
.footer-content-right{
    flex: 1.5;
    justify-content: center;
    align-items: center;
    padding-left: 40px;
    padding-top: 30px;
    min-height: 300px;
    width: 100%;
    padding-top: 30px;
}
.footer-card-container{
    display:grid;
    grid-template-columns: repeat(3, 0.2fr);
    align-items: flex-end;
    justify-content: flex-end;
    padding-right: 20%;
}
.footer-card{
    width:200px;
    min-height:30vh;
    border:none;
    display:flex;
    flex-direction: column;
}
.footer-card ul{
    padding:0;
}
.footer-card ul li{
    list-style-type:none;
    padding-top:9px;
    font-size:14px;
    transition:opacity .6s;
}
.footer-card a{
    text-decoration: none;
    color:#888888;
}
.footer-card ul li:not(:nth-child(3n)):hover{
    opacity:0.7;
    cursor:pointer;
}

.footer-content-left img{
    width: 300px;
}
.section-bg{
    background-image:url('./images/bg.png');
    background-size: cover;
    width:100%;
    min-height:500px;
}
.section-nobg{
    width:100%;
    min-height:500px;
    box-shadow:1px 1px 10px #999999;
}
.user-content-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 700px;
    padding: 40px; 
}
.user-menu{
    flex: 1;
    min-height: 700px;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    border-right: 2px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to bottom, transparent 0%, rgb(201, 201, 201) 20%, rgb(180, 180, 180) 40%, rgb(180, 180, 180) 60%, rgb(201, 201, 201) 80%, transparent 100%);
}
.user-info-wrapper{
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 700px;
    flex-direction: column;
}
.user-info-top{
    flex: 1;
    width:100%;
    display:flex;
}
.user-info-bottom{
    flex: 1.5;
    width:100%;
}
.user-info-placeholder{
    flex:1;
}
.user-info-chartholder{
    flex:6;
    display:grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    grid-gap: 15%;
}
.user-info-chartcard{
    display:flex;
    justify-content: center;
    align-items:center;
    width:100%;
    height:80%;
    background-color:white;
    border-radius: 10px;
    box-shadow:2px 1px 8px #888888;
}
.user-img{
    width: 200px;
    min-height: 200px;
    background-size: cover;
    margin:0 auto;
    margin-bottom: 40px;
    border: 3px solid black;
    border-radius: 50%;
    background-image: url('./images/banner1.jpg');
}
.user-menu-list ul{
    list-style-type: none;
    font-size: 20px;
    text-align: center;
    padding: 0;
    font-weight: bold;
}
.user-menu-list ul li{
    padding: 5px 0;
}

.test-content-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    padding: 40px; 
}
.test-card-holder{
    justify-content: center;
    display:grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    grid-gap: 3%;
}
.test-card{
    width:800px;
    min-height:45vh;
    display:flex;
    border-radius:10px;
    box-shadow: 4px 1px 10px #AAAAAA;
}
@media only screen and (max-width: 1400px) {
    .navbar-placeholder {
      flex: 0.2;
    }
}
@media only screen and (max-width: 1200px) {
    .navbar-placeholder {
      flex: 0.2;
    }
}
@media only screen and (max-width: 1050px) {
    .navbar-placeholder {
      flex: 0.1;
    }
}
@media only screen and (max-width: 1020px) {
    .navbar{
      display: none;
    }
    .navbar-mobile{
        display:block;
    }
    .header-placeholder{
        flex:0;
    }
    .header-login{
        width:80%;
        text-align: center;
    }
    .header-content{
        justify-content: center;
    }
    .my-modal{
        min-width:85%;
    }
    .card-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .card-wrapper > div{
        width:100%;
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .card{
        width:100%;
        height:400px;
    }
}
