@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Roboto');
.navbar{
    height:120px;
    width:100%;
    display:flex;
    position: absolute;
    top:0;
    left:0;
    z-index:2;
}
.navbar-logo{
    flex:1;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}
.navbar-logo h1{
    color:white;
    font-weight: bold;
    font-family: 'Ubuntu'
}
.navbar-logo img{
    height:70px;
    margin-bottom:30px;
    filter:invert(100%);
}
.navbar-placeholder{
    flex:1;
}
.navbar-menu{
    flex:3;
    display:flex;
    justify-content: flex-end;
    align-items: center;
}
.navbar-menu ul li{
    list-style-type:none;
    display:inline;
    padding:0px 25px;
    font-size:20px;
    color:white;
    font-weight: bold;
    transition:opacity .6s;
}
.navbar-menu ul li a{
    color:white;
    text-decoration:none;
}
.navbar-menu ul li:not(:nth-child(3n)):hover{
    opacity:0.7;
    cursor:pointer;
}
.navbar-menu ul{
    margin:0;
}
.navbar-buttons{
    display:inline;
}
.navbar-buttons a{
    margin:0 10px;
}
.navbar-mobile{
    height:120px;
    width:100%;
    display:flex;
    position: absolute;
    top:0;
    left:0;
    z-index:2;
    display:none;
}
.navbar-mobile-logo{
    height: 100%;
    width:50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:0;
    left:0;
}
.navbar-mobile-placeholder{
    height: 100%;
    width:30%;
    display: inline-flex;
    position: absolute;
    top:0;
    left:20%;
}
.navbar-mobile-button{
    height: 100%;
    width:20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:0;
    left:80%;
}
.navbar-mobile-logo img{
    width:70%;
    filter:invert(100%);
}
.navbar-mobile-button i{
    color:white;
    font-size:40px;

}
.mobile-menu{
    height:100vh;
    width:60%;
    background-color:transparent;
    position: fixed;
    top:0;
    left:-70%;
    z-index:10;
    display:flex;
    flex-direction: column;
    transition:left .2s;
    box-shadow:1px 1px 10px black;
}
.mobile-menu-filter{
    width:40%;
    height:100vh;
    background-color:rgba(0,0,0,0.4);
    transition:opacity .3s;
    position:fixed;
    top:0;
    right:0px;
    display:none;
    z-index:10;
}
.mobile-menu-logo{
    flex:1;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:black;
}
.mobile-menu-logo img{
    width:80%;
    filter:invert(100%);
    filter:drop-shadow(10);
}
.mobile-menu-content{
    flex:5;
    width:100%;
    background-color:rgba(0, 0, 0, 0.95);
}
.mobile-menu-content ul{
    padding:0;
}
.mobile-menu-content ul li{
    padding-left:50px;
}
.mobile-menu-content ul li, .mobile-menu-content ul li a{
    color:white;
    list-style-type: none;
    padding-top:10px;
    padding-bottom:10px;
    font-size:30px;
    left:0;
}
.mobile-menu-content ul li:hover, .mobile-menu-content ul li a:hover{
    text-decoration: none;
    cursor:pointer;
    background-color:#444444;
}
.mobile-menu-content ul li:hover{
    opacity:0.9;
}
.navbarUser{
    height:120px;
    width:100%;
    display:flex;
    position: absolute;
    top:0;
    left:0;
    z-index:2;
    background-color: black;
}
.header{
    min-height: 700px;
    height: 80vh;
    max-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
    background-image: url('./images/banner1.jpg');
    background-blend-mode: darken;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow:1px 1px 10px #444444;
    z-index: 1;
    position: relative;
}
.header-placeholder{
    flex:1;
    height:100%;
}
.header-content{
    flex:1;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    height:100%;
}
.header-login{
    margin-top:20%;
    height: 60%;
    width: 70%;
    color:white;
}
.header-buttons a{
    margin-right:10px;
    margin-top:10px;
}
.section{
    min-height:calc(100vh - 120px);
    width:100%;
    background-color:white;
    position:relative;
}
.btn{
    box-shadow:1px 3px 10px black;
    border-radius:2px;
}
.btn:hover{
    cursor: pointer;
}
.btn-warning {
    color: white;
    background-color: #555555;
    border-color: #555555;
  }
  
  .btn-warning:hover {
    color: white;
    background-color: #444444;
    border-color: #444444;
  }
  
  .btn-warning:focus, .btn-warning.focus {
    box-shadow: 0 0 0 0.2rem rgba(100,100,100, 0.5);
  }
  
  .btn-warning.disabled, .btn-warning:disabled {
    color: white;
    background-color: #444444;
    border-color: #444444;
  }
  
  .btn-warning:not(:disabled):not(.disabled):active, .btn-warning:not(:disabled):not(.disabled).active,
  .show > .btn-warning.dropdown-toggle {
    color: white;
    background-color: #444444;
    border-color: #444444;
  }
  
  .btn-warning:not(:disabled):not(.disabled):active:focus, .btn-warning:not(:disabled):not(.disabled).active:focus,
  .show > .btn-warning.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(100, 100, 100, 0.5);
  }
.modal-filter{
    background-color:rgba(0,0,0,0.5);
    position:fixed;
    display:none;
    justify-content: center;
    align-items: center;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    z-index: 100;
}
.my-modal{
    box-shadow: 1px 1px 10px #444444;
    background-color:rgba(0, 122, 204, 0.918);
    width: 400px;
    height: 50%;
    border-radius: 5px;
    z-index: 101;
    position: relative;
    transition:.3s;
    top:-2000px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.note-modal{
    background-color:rgba(255, 255, 255, 1);
    width: 600px;
    overflow: auto;
}
.my-submit-button{
    background:#28a745;
    color:white;
    border:#28a745 solid 2px;
    border-radius:3px;
    padding:5px 20px;
    transition:.3s;
    margin:5px; 
}
.my-submit-button:hover{
    opacity:0.8;
}
.my-clear-button{
    background:#d12626;
    color:white;
    border:#d12626 solid 2px;
    border-radius:3px;
    padding:5px 20px;
    transition:.3s;
    margin:5px; 
}
.my-clear-button:hover{
    opacity:0.8;
}
.my-modal i{
    position: absolute;
    top:10px;
    right:10px;
    font-size: 30px;
}
.my-modal i:hover{
    cursor:pointer;
}
.my-modal form h6{
    margin-top:40px;
    color:white;
    font-weight: bold;
    transition:.3s;
}
.my-modal form h6:hover{
    cursor:pointer;
    opacity: .7;
}
.my-modal form input{
    margin:10px 0px;
}

.card-wrapper{
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
    text-align: center;
    padding:100px 0px;
    position:relative;
    box-shadow:1px 1px 10px #999999;
}
.card-wrapper h3{
    margin-bottom:30px;
}
.card-container{
    width: 70%; 
    min-height:400px;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    grid-gap: 40px;
}
.card{
    width:350px;
    min-height:30vh;
    display:flex;
    border-radius:10px;
    border:none;
    box-shadow: 4px 1px 5px #cccccc;
    transition:.3s;
}
.card:hover{
    opacity:0.9; 
    box-shadow: none;
}
.card-top{
    flex:2; 
    background-image: url('./images/banner1.jpg');
    background-size: cover;
    border-top-left-radius:5px;
    border-top-right-radius: 5px;
    box-shadow: 0 4px 6px -2px #444444;
    z-index:4;
}
.card-bottom{
    flex:1;
    background-color: rgb(226, 226, 226);
    border-bottom-left-radius:5px;
    border-bottom-right-radius: 5px;
}

.card-bottom h4{
    padding-top: 20px;
    padding-bottom: 10px; 
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 200px;
    background-color: #F3F4F5;
    box-shadow:1px 1px 10px #AAAAAA;
    padding-top:30px;
    position:relative;
}
.footer-wrapper{
    display:flex;
    width:100%;
}
.footer-content-left{
    flex: 1;
    text-align: end;
    min-height: 200px;
    padding-right: 40px;
    padding-top: 30px;
}
.footer-content-right{
    flex: 1.5;
    justify-content: center;
    align-items: center;
    padding-left: 40px;
    padding-top: 30px;
    min-height: 200px;
    width: 100%;
    padding-top: 30px;
}
.footer-card-container{
    display:grid;
    grid-template-columns: repeat(3, 0.2fr);
    align-items: flex-end;
    justify-content: flex-end;
    padding-right: 20%;
}
.footer-card{
    width:200px;
    min-height:22vh;
    border:none;
    display:flex;
    flex-direction: column;
}
.footer-card ul{
    padding:0;
}
.footer-card ul li{
    list-style-type:none;
    padding-top:9px;
    font-size:14px;
    transition:opacity .6s;
}
.footer-card a{
    text-decoration: none;
    color:#888888;
}
.footer-card ul li:not(:nth-child(3n)):hover{
    opacity:0.7;
    cursor:pointer;
}

.footer-content-left img{
    width: 300px;
}
.section-bg{
    background-image:url('./images/bg.png');
    background-color:rgba(255, 255, 255, 0.5);
    background-blend-mode: lighten;
    background-size: cover;
    width:100%;
    min-height:500px;
}
.section-bg .section-bg-info{
    display:flex;
    height:100%;
    width:100%;
    justify-content: center;
    align-items: center;
    position: relative;
}
.section-bg-info .section-bg-info-image{
    flex:1;
    display:flex;
    align-items: center;
    height:500px;
    padding:50px;
    justify-content: flex-end;
}
.section-bg-info img{
    height:400px;
}
.section-bg-info .section-bg-info-content{
    flex:1;
    height:500px;
    display: flex;
    padding:50px;
    justify-content: flex-start;
    align-items: center;
}
.section-nobg{
    width:100%;
    min-height:600px;
    box-shadow:1px 1px 10px #999999;
}
.user-content-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 700px;
    padding: 40px; 
    box-shadow:1px 1px 10px #999999;
    z-index:1;
    position:relative;
}
.user-menu{
    flex: 1;
    min-height: 700px;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    border-right: 2px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to bottom, transparent 0%, rgb(201, 201, 201) 20%, rgb(180, 180, 180) 40%, rgb(180, 180, 180) 60%, rgb(201, 201, 201) 80%, transparent 100%);
}
.user-info-wrapper{
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 700px;
    flex-direction: column;
}
.user-info-top{
    flex: 1;
    width:100%;
    display:flex;
}
.user-info-placeholder{
    flex:1;
}
.user-info-chartholder{
    flex:6;
    display:grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    grid-gap: 15%;
}
.user-info-chartcard{
    display:flex;
    justify-content: center;
    align-items:center;
    width:100%;
    height:80%;
    background-color:white;
    border-radius: 10px;
    box-shadow:2px 1px 8px #888888;
}
.user-info-bottom{
    display:flex;
    flex: 1.5;
    width:75%;
    align-items: center;
    justify-content: center;
    position:relative;
}
.user-info-bigcard{
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
    position: absolute;
    height:90%;
    top:0px;
    left:0px;
    background-color:white;
    border-radius:10px;
    box-shadow:2px 1px 8px #888888;
}
.user-info-bigcard-grid{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    grid-gap: 15%;
}
.user-img{
    width: 200px;
    min-height: 200px;
    background-size: cover;
    margin:0 auto;
    margin-bottom: 40px;
    border: 10px solid black;
    border-radius: 50%;
    background-image: url('./images/user_placeholder.png');
    background-size:120%;
    background-position-x: -17px;
}
.user-menu-list ul{
    list-style-type: none;
    font-size: 20px;
    text-align: center;
    padding: 0;
    font-weight: bold;
}
.user-menu-list ul li{
    padding: 5px 0;
}

.test-content-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: calc(100vh - 120px);
    padding: 20px; 
}
.test-card-holder{
    justify-content: center;
    display:grid;
    grid-template-columns: repeat(2,2fr);
    align-items: center;
    grid-gap: 10%;
}
.test-card{
    width:25vw;
    border:1px solid #AAAAAA;
    min-height:30vh;
    display:flex;
    padding:0px 30px;
    border-radius:10px;
    justify-content: center;
    align-items: center;
    font-size:20px;
    box-shadow: 4px 1px 10px #AAAAAA;
    text-align: center;
    transition:box-shadow .3s, opacity .3s;
    position: relative;
    z-index:1;
}
.test-card i{
    font-size:30px;
}
.test-card:hover{
    cursor:pointer;
    opacity:0.95; 
    box-shadow:4px 1px 4px #999999;
}
.signup-header{
    min-height: 130vh;
    max-width: 100vw;
    padding-top: 120px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
    background-image: url('./images/banner1.jpg');
    background-blend-mode: darken;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow:1px 1px 10px #444444;
    z-index: 1;
    position: relative;
}
.signup-header-left{
    flex:1.5;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.signup-header-right{
    flex:1;
    height:100%;
    display:flex;
    justify-content: flex-start;
    align-items: center;
}
.signup-header-right label{
    color:white;
    font-size:20px;
    font-weight: 200;
}
.take-a-photo{
    border-radius: 30px;
    width:30vw;
    height:30vw;
    display:flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.7);
    color:#CCCCCC;
}
.take-a-photo img{
    width:100%;
    height:100%;
    border:5px white solid;
    border-radius: 30px;
}
.take-a-photo p{
    font-size:2vw;
}
.signup-header-right p{
    color:white;
}
.passwordMeterContainer{
    width:95%;
    height:20px;
    display:flex;
    justify-content: center;
    align-items:center;
}
.passwordMeter{
    flex:3;
    background-color:white;
    height:8px;
    position: relative;
    display:flex;
}
.passwordMeterUnit{
    height:100%;
    width:25%;
    background-color:#28a745;
    border:1px white solid;
}
.passwordStrength{
    flex:1;
    height:5px;
    color:white;
    font-size:16px;
    display:flex;
    justify-content: flex-end;
    align-items: center;
}

:disabled {
    cursor: not-allowed;
  }
.loading_div{
    background:rgba(0,0,0,0.5);
    position:fixed;
    z-index:100;
    top:0;
    left:0;
    height:100vh;
    width:100vw;
    display:flex;
    justify-content:center;
    align-items: center;
}
.loading_div img{
    width:150px;
}
.section .rule-container{
    display:flex;
    height:100%;
    width:100%;
    position: absolute;
}
.rule-container-selector{
    flex:1.4;
    height:100%;
    background:#222222;
    box-shadow:0px 0px 10px #333333;
    z-index:2;
    overflow:auto;
}
.rule-container-selector a{
    color:white;
}
.rule-container-selector a:hover{
    text-decoration: none;
}
.rule-container-content{
    flex:4;
    height:100%;
    display:flex;
    flex-direction: column;
}
.rule-content{
    flex:8;
    overflow:auto;
    padding:30px 80px;
    scroll-behavior: smooth;
}
.main-rule-content{
    margin-left: 15px;
    font-size:20px;
    font-weight:bolder;
}
.no-selection{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:20px;
    font-weight:bolder;
    text-align: center;
}
.rule-content-handler{
    /*flex:1;*/
    /*z-index: 1;*/
    display:flex;
    align-items: center;
    justify-content: center;
    background: white;
    padding: 5px;
}
.rule-content-handler i{
    font-size:50px;
    margin:0px 10px;
    background:white;
    border-radius:50%;
    color:#000000;
    transition:.3s;
    will-change:opacity;
}
.rule-content-handler i:hover{
    opacity: .7;
    cursor:pointer;

}
.subrule-content{
    display:flex;
    position: relative;
    padding: 15px;
    transition: 1s;
}
.subrule-content-text{
    position: relative;
    left: 10px;
    max-width: 95%;
    text-align: justify;
}
.subrule-content-number{
    font-weight:bolder;
    color:#d12626;
}
.subrule-content.selected{
    display:flex;
    position: relative;
    background-color:#111111;
    color:white;
    padding: 15px;
    transition: 1s;
}
.rule-button-container{
    height:50px;
    width:100%;
    background:#222222;
    display:flex;
    justify-content: center;
    align-items:center;
    cursor:pointer;
}
.rule-button-container.selected{
    background:white;
    transition: 0.3s;
}
.rule-button{
    flex:9;
    font-size:20px;
    height:100%;
    color:white;
    display:flex;
    padding-left: 50px;
    align-items: center;
}
.rule-button.selected{
    color:#222222;
}
.rule-collapse-button{
    display:flex;
    justify-content: center;
    align-items: center;
    color:white;
    padding: 10px;
    flex:1;
    height:100%;
}
.rule-button:hover{
    opacity:0.8;
    cursor:pointer;
}
.rule-button-sub{
    height:50px;
    width:100%;
    background:#111111;
    display:flex;
    justify-content: center;
    align-items:center;
    font-size:20px;
    color:white;
}
.rule-button-sub.selected{
    background:white;
    transition:0.3s;
}
.rule-button-sub:hover{
    cursor: pointer;
    opacity:0.8;
}
.fa-arrow-down{
    transform: rotate(0deg);
    transition: transform 0.2s linear;
  }
  
.fa-arrow-down.open{
    transform: rotate(180deg);
    transition: transform 0.2s linear;
    cursor:pointer;
}
.fa-arrow-down.selected{
    color:#222222;
    transform: rotate(0deg);
    transition: transform 0.2s linear;
  }
  
.fa-arrow-down.open.selected{
    color:#222222;
    transform: rotate(180deg);
    transition: transform 0.2s linear;
}
.home-bottom-info{
    display:flex;
    height:600px;
}
.home-bottom-info-image{
    flex:1;
    display:flex;
    justify-content: flex-start;
    align-items: center;
}
.home-bottom-info-image img{
    width:370px;
}
.home-bottom-info-content{
    flex:1;
    display:flex;
    justify-content: flex-end;
    padding-right:300px;
    align-items: center;
}
.no-selection .text-transition .text-transition-inner{
    display:flex;
    justify-content: center;
    align-items: center;
    height:100%;
}
.text-transition-inner{
    height:100% !important;
    overflow:visible !important;
}
.test-card-overlay{
    position: absolute;
    height:100%;
    width:100%;
    left:0px;
    top:0px;
    background:rgba(218, 80, 80, 1);
    border-radius: 8px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.test-card-overlay i{
    font-size:40px;
}
/*
.quiz-container{
    height:100vh;
    width:100vw;
    display:flex;
    justify-content: center;
    align-items: center;
    background-image: url('./images/court_background.png');
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: darken;
    background-size:100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}
.quiz-container img{
    width:300px;
}
.quiz-question-container{
    width:80vw;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height:85vh;
    background-color:rgba(255,255,255,0.8);
    border-radius: 10px;
    box-shadow:0px 4px 10px #777777;
    padding:25px;
}
.quiz-question{
    width: 80%;
    height: 20%;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align:center;
    flex:1;
}
.quiz-question h5{
    font-size:150%;
    font-weight: bolder;
}
.quiz-answers-container{
    flex:1;
    padding:10px;
    width:80%;
    position:relative;
    display: flex;
    justify-content: center;
    align-items:center;
}
.quiz-answer{
    background-color:#333333;
    width:100%;
    margin-bottom:20px;
    font-size:95%;
    padding:0px 50px;
    /*height: 12vh;
    display:flex;
    justify-content: center;
    align-items: center;
    color:white;
    border-radius: 10px;
    box-shadow:0px 4px 10px #444444;
    transition: .3s;
}
.quiz-answer:hover{
    opacity:0.8;
    cursor:pointer;
}
.quiz-answer.correct{
    background-color:#28a745;
    transition:.3;
}
.quiz-answer.wrong{
    background-color:#d12626;
    transition:.3;
}
.quiz-answer.selected{
    background-color:white;
    color:#333333;
    transition: .3s;
}*/
.quiz-container{
    height:100vh;
    width:100vw;
    display:flex;
    justify-content: center;
    align-items: center;
    background-image: url('./images/court_background.png');
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: darken;
    background-size:100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}
.quiz-container img{
    width:300px;
}
.quiz-question-container{
    width:80vw;
    display:flex;
    position: relative;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height:85vh;
    background-color:rgba(255,255,255,0.8);
    border-radius: 10px;
    box-shadow:0px 4px 10px #777777;
    padding:25px;
}
.quiz-question{
    width: 80%;
    height: 20%;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align:center;
    flex:1;
}
.quiz-question h5{
    font-size:20px;
    font-weight: bolder;
}
.quiz-answers-container{
    flex:1;
    padding:10px;
    width:80%;
    position:relative;
    display: flex;
    justify-content: center;
    align-items:center;
}
.quiz-answer{
    background-color:#333333;
    width:100%;
    margin-bottom:20px;
    font-size:14px;
    padding:0px 50px;
    height: 12vh;
    display:flex;
    justify-content: center;
    align-items: center;
    color:white;
    border-radius: 10px;
    box-shadow:0px 4px 10px #444444;
    transition:background-color .3s;
}
.quiz-answer:hover{
    opacity:0.8;
    cursor:pointer;
}
.quiz-next-button{
    position:absolute;
    top:calc(50% - 25px);
    right:40px;
}
.quiz-next-button i{
    font-size: 50px;
}
.quiz-next-button:hover{
    opacity: 0.8;
    cursor: pointer;
}
.selected-answer{
    background-color:white;
    color:#333333;
    transition: .3s;
}
.bad-answer{
    background-color:#d12626;
    transition: .3s;
}
.good-answer{
    background-color:#28a745;
    transition: .3s;
}
.test-rule-selector-container{
	display: flex;
    flex-wrap: wrap;
    margin:20px 0px;
    background-color:rgba(255,255,255,0.8);
    border-radius: 10px;
    box-shadow:0px 4px 10px #777777;
    padding:10px;
}
.test-rule-selector{
    background-color:#333333;
    color:white;
    flex:1 1 30%;
	flex-grow: 1;
    margin:5px;
}
.test-rule-selector:hover{
    opacity: 0.8;
    cursor: pointer;
	/*height: 100px;*/
}
.construction::before{
    content:"";
    width:calc(98% + 30px);
    height:calc(95% + 30px);
    border-radius:10px;
    position: absolute;
    background:rgb(255, 214, 50);
    z-index:-1;
    transition:.3s;
}
.construction::before:hover{
    cursor:not-allowed;
    opacity:0;
}
/*MUST BE ON THE END*/
@media only screen and (max-width: 1400px) {
    .navbar-placeholder {
      flex: 0.2;
    }
}
@media only screen and (max-width: 1200px) {
    .navbar-placeholder {
      flex: 0.2;
    }
}
@media only screen and (max-width: 1050px) {
    .navbar-placeholder {
      flex: 0.1;
    }
}
@media only screen and (max-width: 1020px) {
    body{
        overflow-x:hidden;
    }
    .section-bg-info{
        flex-direction:column;
    }
    .section-bg-info .section-bg-info-content{
        justify-content: center;
    }
    .section-bg-info .section-bg-info-image{
        justify-content: center;
    }
    .section-bg-info-image img{
        width:400px;
        height:auto;
    }
    .home-bottom-info{
        flex-direction:column
    }
    .home-bottom-info .home-bottom-info-content{
        justify-content: center;
        padding:0px;
    }
    .home-bottom-info .home-bottom-info-image{
        justify-content: center;
    }
    .home-bottom-info img{
        width:300px;
        height:auto;
    }
    .navbar{
      display: none;
    }
    .navbar-mobile{
        display:block;
    }
    .header-placeholder{
        flex:0;
    }
    .header-login{
        width:80%;
        text-align: center;
    }
    .header-content{
        justify-content: center;
    }
    .my-modal{
        min-width:85%;
    }
    .card-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .card-wrapper > div{
        width:100%;
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .card{
        width:100%;
        height:400px;
    }
    .footer-wrapper{
        flex-direction:column;
    }
    .footer-content-left{
        justify-content: center;
        display: flex;
        padding-top:10px;
        padding-bottom:40px;
        min-height:100px;
        padding-right:0px;
    }
    .footer-content-right{
        display:flex;
        justify-content: center;
        align-items: center;
        padding:0px;
    }
    .footer-card-container{
        grid-template-columns: none;
        grid-template-rows:repeat(3,1fr);
        padding:0px;
    }
    .footer-card{
        text-align:center;
        min-height:150px;
    }
    .footer-card h6{
        font-size:20px;
    }
    .footer-card a {
        font-size:16px;
    }
    .test-card{
        min-height:35   vh;
    }
}